<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <img class="portrait" src="./image/robot.png">
    {{>footer}}
</body>
</html>