<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
    <title>Web Server</title>
</head>
<body>
    {{>header}}
    <p>{{message}}</p>
     {{>footer}}
</body>
</html>